{
    "timeout": 20,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection.log"
    },
    "mutators": {
        "@default": true,
        "LogicalOr": {
            "ignore": [
                "SignpostMarv\\DaftObject\\DaftObjectMemoryRepository::RecallDaftObjectOrThrow"
            ]
        },
        "MethodCallRemoval": {
            "ignore": [
                "SignpostMarv\\DaftObject\\DaftObjectMemoryRepository::RememberDaftObject"
            ]
        },
        "ProtectedVisibility": {
            "ignore": [
                "SignpostMarv\\DaftObject\\AbstractDaftObjectRepository::__construct",
                "SignpostMarv\\DaftObject\\DaftObjectMemoryRepository::RecallDaftObjectFromData"
            ]
        }
    }
}
