{
    "timeout": 10,
    "source": {
        "directories": [
            "PHPStan",
            "src"
        ]
    },
    "logs": {
        "text": "infection.log"
    },
    "mutators": {
        "@default": true,
        "LogicalAnd": {
            "ignore": [
                "SignpostMarv\\DaftObject\\AbstractArrayBackedDaftObject::NudgePropertyValue",
                "SignpostMarv\\DaftObject\\PHPStan\\ClassReflectionExtension::MaybeRegisterTypesOrExitEarly"
            ]
        },
        "LogicalNot": {
            "ignore": [
                "SignpostMarv\\DaftObject\\PHPStan\\ClassReflectionExtension::MaybeRegisterTypesOrExitEarly"
            ]
        },
        "MethodCallRemoval": {
            "ignore": [
                "SignpostMarv\\DaftObject\\DaftObjectMemoryRepository::RememberDaftObject",
                "SignpostMarv\\DaftObject\\PHPStan\\ClassReflectionExtension::MaybeRegisterTypesOrExitEarly",
                "SignpostMarv\\DaftObject\\TypeUtilities::DaftObjectPublicOrProtectedGetters"
            ]
        },
        "NotIdentical": {
            "ignore": [
                "SignpostMarv\\DaftObject\\AbstractArrayBackedDaftObject::NudgePropertyValue",
                "SignpostMarv\\DaftObject\\DefinitionAssistant::MaybeRegisterAdditionalTypes"
            ]
        },
        "Throw_": {
            "ignore": [
                "SignpostMarv\\DaftObject\\AbstractDaftObject::CompareToDaftSortableObject",
                "SignpostMarv\\DaftObject\\AbstractArrayBackedDaftObject::MaybeThrowForPropertyOnNudge",
                "SignpostMarv\\DaftObject\\DefinitionAssistant::IsTypeUnregistered"
            ]
        }
    }
}
