<phpunit bootstrap="./phpunit-bootstrap.php">
  <testsuites>
    <testsuite name="DaftObject">
      <directory>./Tests/DaftObject/</directory>
    </testsuite>
    <testsuite name="DaftJson">
      <directory>./Tests/DaftJson/</directory>
    </testsuite>
    <testsuite name="DaftObjectRepository">
      <directory>./Tests/DaftObjectRepository/</directory>
    </testsuite>
    <testsuite name="PHPStan">
      <directory>./Tests/PHPStan/</directory>
    </testsuite>
    <testsuite name="DefinitionAssistant">
      <directory>./Tests/DefinitionAssistant/</directory>
    </testsuite>
  </testsuites>
  <logging>
    <log
      type="coverage-html"
      target="phpunit"
    />
    <log
      type="coverage-text"
      target="php://stdout"
      showUncoveredFiles="true"
      showOnlySummary="false"
    />
  </logging>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">./src/</directory>
      <directory suffix=".php">./PHPStan/</directory>
    </whitelist>
  </filter>
</phpunit>
